NUXT_DSN="postgresql://postgres:postgres@localhost:5432/shader_lab"
NUXT_SESSION_PASSWORD="at-least-32-characters-long-random-string"
NUXT_OAUTH_GOOGLE_CLIENT_ID=""
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=""
NUXT_AWS_REGION="us-east-1"
NUXT_AWS_ACCESS_KEY_ID="any"
NUXT_AWS_SECRET_ACCESS_KEY="any"
NUXT_AWS_S3_BUCKET="shader-lab"
NUXT_AWS_S3_ENDPOINT="http://localhost:8333"
